eventlet==0.25.2
gevent==20.5.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==18.0 
Flask==1.0.2
Flask-Login==0.4.1
Flask-Session==0.3.1
Flask_SocketIO
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
python-engineio
python-socketio
six==1.11.0
Werkzeug==0.14.1