
.table{
  text-align: center;
}

td{
  width: 10%;
  height: 70px;
  font-weight: bolder;
  vertical-align: middle;

  
}

td:hover {background-color: #f5f5f5;}

/* Countdown from https://codepen.io/ninjascribble/pen/rHwkK */
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:200,300,400);

.card{
    width: 60%;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}


body {
    color: rgb(170, 170, 170);
    background: #111;
    padding: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}



.timer-group {
background: #111;
  height: 400px;
  margin: 0 auto;
  position: relative;
  width: 400px;
}

.timer {
  border-radius: 50%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  width: 100px;
}

.timer:after {
  background: #111 url(https://codepen.io/images/classy_fabric.png);
  border-radius: 50%;
  content: "";
  display: block;
  height: 80px;
  left: 10px;
  position: absolute;
  width: 80px;
  top: 10px;
}

.timer .hand {
  float: left;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 50%;
}


.face {
  background: rgba(0, 0, 0, .1);
  border-radius: 50%;
  height: 296px;
  left: 52px;
  padding: 165px 40px 0;
  position: absolute;
  width: 296px;
  text-align: center;
  top: 52px;
}

.face h2 {
  font-weight: 300; 
}

.face p {
  border-radius: 20px;
  font-size: 50px;
  font-weight: 300;
  position: absolute;
  top: 35px;
  width: 260px;
  left: 20px;
}

.timer .hand span {
  border: 50px solid rgba(0, 255, 255, .4);
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-radius: 50%;
  display: block;
  height: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(225deg);
  width: 0;
}

.timer .hand:first-child {
  transform: rotate(180deg);
}

.timer .hand span {
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.timer .hand:first-child span {
  animation-name: spin1;
}

.timer .hand:last-child span {
  animation-name: spin2; 
}

.timer:hover {
  animation-play-state: initial;
}


.timer.hour {
  background: rgba(0, 0, 0, .3);
  height: 400px;
  left: 0;
  width: 400px;
  top: 0;
}

.timer.hour .hand span {
  animation-duration: 300s;
  border-top-color: rgba(255, 0, 255, .4);
  border-right-color: rgba(255, 0, 255, .4);
  border-width: 200px;
}

.timer.hour:after {
  height: 360px;
  left: 20px;
  width: 360px;
  top: 20px;
}

.timer.minute {
  background: rgba(0, 0, 0, .2);
  height: 350px;
  left: 25px;
  width: 350px;
  top: 25px;
}

.timer.minute .hand span {
  animation-duration: 60s;
  border-top-color: rgba(0, 255, 255, .4);
  border-right-color: rgba(0, 255, 255, .4);
  border-width: 175px;
}

.timer.minute:after {
  height: 310px;
  left: 20px;
  width: 310px;
  top: 20px;
}

.timer.second {
  background: rgba(0, 0, 0, .2);
  height: 300px;
  left: 50px;
  width: 300px;
  top: 50px;
}

.timer.second .hand span {
  animation-duration: 1s;
  border-top-color: rgba(255, 255, 255, .15);
  border-right-color: rgba(255, 255, 255, .15);
  border-width: 150px;
}

.timer.second:after {
  height: 296px;
  left: 2px;
  width: 296px;
  top: 2px;
}

@keyframes spin1 {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(225deg);
  }
  100% {
    transform: rotate(405deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(225deg);
  }
  50% {
    transform: rotate(405deg);
  }
  100% {
    transform: rotate(405deg);
  }
}


/* Game Countdown */
/* ========================================= */

.counter {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.counter.hide {
  transform: translate(-50%, -50%) scale(0);
  animation: hide .2s ease-out;
}

@keyframes hide {
  0% {
      transform: translate(-50%, -50%) scale(1);
  }

  100% {
      transform: translate(-50%, -50%) scale(0);
  }
}



@keyframes show {
  0% {
      transform: translate(-50%, -50%) scale(0);
  }

  80% {
      transform: translate(-50%, -50%) scale(1.4);
  }

  100% {
      transform: translate(-50%, -50%) scale(1);
  }
}

.nums {
color: #3498db;
position: relative;
font-size: 50px;
overflow: hidden;
width: 250px;
height: 50px;
}

.nums span {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%) rotate(120deg);
transform-origin: bottom center;
}

.nums span.in {
  transform: translate(-50%, -50%) rotate(0deg);
animation: goIn .5s ease-in-out;
}

.nums span.out {
animation: goOut .5s ease-in-out;
}

@keyframes goIn {
0% {
  transform: translate(-50%, -50%) rotate(120deg);
}
30% {
  transform: translate(-50%, -50%) rotate(-20deg);
}

60% {
  transform: translate(-50%, -50%) rotate(10deg);
}

90%, 100% {
  transform: translate(-50%, -50%) rotate(0deg);
}

}

@keyframes goOut {
0%, 30% {
  transform: translate(-50%, -50%) rotate(0deg);
}

60% {
  transform: translate(-50%, -50%) rotate(20deg);
}

100% {
  transform: translate(-50%, -50%) rotate(-120deg);
}
}

h4 {
font-size: 20px;
margin: 5px;
text-transform: uppercase;
}
