{% extends "layout.html" %} {% block content %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		var username = localStorage.getItem('username');
		if (username == null) {
			window.location = "/";
		}

		var socket = io.connect('http://127.0.0.1:5000');

		var users = [];
		// 	'username': "George",
		// 	'id': 1
		// }, {
		// 	'username': "Herd",
		// 	'id': 2
		// }, {
		// 	'username': "Yop",
		// 	'id': 3
		// }, {
		// 	'username': "Cal",
		// 	'id': 4
		// }, {
		// 	'username': "Benji",
		// 	'id': 5
		// }, {
		// 	'username': "Prick",
		// 	'id': 6
		// }];

		var votes = [];
		var roles = [];
		var game_users = [];
		var cupid_votes = [];
		var doctor_choice = null;
		var were_choice = [];
		var elements = [];
		var werewolf_overall_choice = null;
		var seer_done = false;
		var werewolves = [];
		var day = false;


		const nums = document.querySelectorAll('.nums span');
		const counter = document.querySelector('.counter');

		socket.on('connect', () => {
			socket.emit('join', { 'channel': window.location.pathname.substr(1), 'username': username, 'id': socket.id });
		});

		socket.on('new_user', function (data) {
			if (!check_username(users, data['username'])) {
				obj = {
					'username': data['username'],
					'id': data['id']
				}
				users.push(obj);
			} else {
				var new_username = data['username'] + " the first!";
				socket.emit('new_username', { 'channel': window.location.pathname.substr(1), 'old_username': data['username'], 'new_username': new_username, 'id': data['id'] })
			}
			socket.emit('update_users', { 'channel': window.location.pathname.substr(1), 'user_list': users })
		});

		socket.on('user_leave', function (sid) {
			for (var i = 0; i < users.length; i++) {
				if (users[i].id == sid) {
					users.splice(i, 1);
				}
			}
			$("#online").empty();
			for (var i = 0; i < users.length; i++) {
				$("#online").append('<li>' + users[i].username + '</li>');
			}
		});

		socket.on('new_user_list', function (data) {
			if (users.length < data.length) {
				users = data
			}
			$("#online").empty();
			for (var i = 0; i < users.length; i++) {
				$("#online").append('<li>' + users[i].username + '</li>');
			}
		});

		socket.on('new_username_2', function (data) {
			if (data['old_username'] == username && socket.id == data['id']) {
				localStorage.setItem('username', data['new_username']);
				username = data['new_username']
				socket.emit('join', { 'channel': window.location.pathname.substr(1), 'username': username, 'id': socket.id });
			}
		});

		socket.on('start_new_round', function (data) {
			if (data == username) {
				night()
			}
		});

		socket.on('group_vote', async function (vote) {
			// last event of game loop, if conditions are met after this function, re start the game loop
			votes.push(vote)
			console.log(votes)
			if (votes.length == game_users.length) {
				var to_be_lynched = most_voted(votes)
				var counts = {};

				for (var i = 0; i < votes.length; i++) {
					var num = votes[i];
					counts[num] = counts[num] ? counts[num] + 1 : 1;
				}
				var k = "<table>"
				for (var key in counts) {
					k += '<tr><td>' + key + '</td><td>' + counts[key] + '</td></tr>'

				}
				k += '</table>'

				document.getElementById("game_div_body").innerHTML = k;


				if (to_be_lynched.length > 1) {
					// deals with no majority, force another vote
					await sleep(5000)
					document.getElementById("game_div_body").innerHTML = "";
					votes = []
					if (check_username(game_users, username)) {
						draw_table("day")
					}
				} else {
					socket.emit('remove_player', { 'username': to_be_lynched, 'channel': window.location.pathname.substr(1) });
					await sleep(5000)
					document.getElementById("game_div_body").innerHTML = "";
					if (werewolves.length > 0 && (2 * werewolves.length < game_users.length)) {// should be 0 not 1
						document.getElementById("vote_table").innerHTML = "" //removes table from hunter if they didn't vote
						document.getElementById("game_div_body").innerHTML += to_be_lynched + " has been lynched!"
						await sleep(8000)
						document.getElementById("game_div_title").innerHTML = "Night Falls"
						document.getElementById("game_div_body").innerHTML = ""
						day = false;
						await sleep(5000)
						reset()
						socket.emit('start_new_round', { 'username': game_users[0], 'channel': window.location.pathname.substr(1) });

					} else {
						console.log("Game over from a day win")
						game_over()
					}
				}
			}
		});

		socket.on('remove_player', function (_username) {
			// first check if the removed player was a werewolf, if so, decrement number of werewolves
			// then check to see if the removed user was under cupids influence, if so remove both
			console.log(_username + " was a " + roles[_username])
			console.log(game_users[werewolf_overall_choice].username)
			if (roles[_username] == "Werewolf") {
				console.log("removing a werewolf")
				remove_user(werewolves, _username)
			} else if (roles[_username] == "Hunter" && _username == username && day) {// if the killed person is a hunter and the client is the hunter
				draw_table("hunter")


			}
			if (cupid_votes.includes(_username)) {
				if (cupid_votes[0] == _username) {
					cupid_votes.splice(0, 1);
				} else {
					cupid_votes.splice(1, 1);
				}

				document.getElementById("game_div_body").innerHTML = "Overcome with grief by the loss of " + _username + ", " + cupid_votes[0] + " killed themself!"
				remove_user(game_users, _username)
				if (roles[cupid_votes[0]] == "Werewolf") {
					remove_user(werewolves, cupid_votes[0])
				}
				remove_user(game_users, cupid_votes[0])
			} else {
				remove_user(game_users, _username)
			}
		});

		socket.on('were_choice', function (data) {
			for (var i = 0; i < were_choice.length; i++) {
				if (were_choice[i].username == data['username']) {
					if (roles[username] == "Werewolf") {
						elements[were_choice[i].choice].innerHTML = '<br>' + game_users[were_choice[i].choice].username + show_votes_f(-1, elements[were_choice[i].choice].innerHTML);
						elements[were_choice[i].choice].innerHTML += "<input type='hidden' value='" + were_choice[i].choice + "'>";
					}
					were_choice.splice(i, 1);
				}
			}
			obj = {
				'username': data['username'],
				'choice': data['vote']
			}
			were_choice.push(obj)
			if (roles[username] == "Werewolf") {
				elements[obj.choice].innerHTML = '<br>' + game_users[obj.choice].username + show_votes_f(1, elements[obj.choice].innerHTML);
				elements[obj.choice].innerHTML += "<input type='hidden' value='" + obj.choice + "'>";

			}
			var were_agree = most_voted(were_choice.map(a => a.choice))

			if (were_choice.length == werewolves.length && were_agree.length == 1) {
				werewolf_overall_choice = were_agree
				document.getElementById('vote_table').innerHTML = "";
			}

		});


		socket.on('cupid_vote', function (vote) {
			cupid_votes.push(vote)
			console.log(cupid_votes)
		});

		socket.on('doctor_choice', function (vote) {
			doctor_choice = vote
			console.log("Docs choice")
			console.log(doctor_choice)
		});

		socket.on('set_roles', function (data) {
			// This is the first function called in a game so does more than just sets roles. All displays the countdown and resets all tracker values
			reset()
			roles = data['role_dict']
			werewolves = data['werewolves']
			game_users = [...users]
			console.log(data)

			document.getElementById('vote_table').innerHTML = "";
			document.getElementById("online_div").style.display = "none";
			document.getElementById("game_div").style.display = "none";


			runAnimation();

		});

		function resetDOM() {
			nums.forEach(num => {
				num.classList.value = '';
			});

			nums[0].classList.add('in');
		}

		function runAnimation() {
			// based on https://codepen.io/FlorinPop17/pen/LzYNWa
			document.getElementById("counter").style.display = "";
			nums.forEach((num, idx) => {
				const penultimate = nums.length - 1;
				num.addEventListener('animationend', (e) => {
					if (e.animationName === 'goIn' && idx !== penultimate) {
						num.classList.remove('in');
						num.classList.add('out');
					} else if (e.animationName === 'goOut' && num.nextElementSibling) {
						num.nextElementSibling.classList.add('in');
					} else {
						document.getElementById("counter").style.display = "none";
						document.getElementById("game_div").style.display = "";
						document.getElementById("game_div_title").innerHTML = "You are";
						document.getElementById("game_div_body").innerHTML = '<div class="card" style="width: 18rem;"><img src="static/images/' + roles[username] + '.png" class="card-img-top" alt="werewolf"><div class="card-body"><h5 class="card-title">' + roles[username] + '</h5></div></div>'
						resetDOM()
					}
				});
			});
		}


		socket.on('show_werewolves', function () {
			document.getElementById("game_div_title").innerHTML = "Werewolves";
			document.getElementById("game_div").style.display = "";
			if (roles[username] == "Werewolf") {
				var k = '<div class="row">'
				for (werewolf of werewolves) {
					k += '<div class="card" style="width: 18rem;"><img src="static/images/Werewolf.png" class="card-img-top" alt="werewolf"><div class="card-body"><h5 class="card-title">' + werewolf + '</h5></div></div>'
				}
				k += '</div>'
				document.getElementById("game_div_body").innerHTML = k;

			} else {
				document.getElementById("game_div_body").innerHTML = "Werewolves open your eyes"
			}

		});

		function show_votes_f(upOrdown, inner_html) {
			var output = ""
			var empty = "\u26AA"
			var full = "&#128308"
			var count_empty = (inner_html.match(/\u26AA/g) || []).length - upOrdown;
			var count_full = werewolves.length - count_empty
			console.log(count_empty)
			console.log(count_full)
			output += full.repeat(count_full) + empty.repeat(count_empty)
			return '<br>' + output

		}

		function vote_now() {
			socket.emit('vote_now', { 'channel': window.location.pathname.substr(1) });
		}

		socket.on('day_cycle', function () {
			socket.on('vote_now', function () {
				clearTimeout(timer);
				document.getElementById("vote_table").innerHTML = ""
				document.getElementById("game_div_title").innerHTML = "Vote";
				document.getElementById("game_div_body").innerHTML = ""
				document.getElementById("timer").style.display = "none";
				if (check_username(game_users, username)) {
					draw_table("day")
				}
			});
			day = true;
			document.getElementById("vote_table").innerHTML = ""
			document.getElementById("game_div_title").innerHTML = "Discuss";
			document.getElementById("game_div_body").innerHTML = "<p>You have 5 mins to decide who to lynch</p><br>"
			b = document.createElement("button");
			b.setAttribute("id", "vote_now_button")
			b.setAttribute("class", "'btn btn-secondary'")
			b.onclick = function () {
				vote_now();
			}
			b.innerHTML = 'Vote Now';
			document.getElementById("game_div_body").appendChild(b)
			document.getElementById("timer").style.display = "";

			let timer = setTimeout(function () {
				document.getElementById("game_div_title").innerHTML = "Vote";
				document.getElementById("timer").style.display = "none";
				document.getElementById("game_div_body").innerHTML = "";
				if (check_username(game_users, username)) {
					draw_table("day")
				}
			}, 25000)



		});


		socket.on('hunter_choice', async function (vote) {
			console.log(game_users[vote])
			document.getElementById("game_div_body").innerHTML += "<br>Cornered the hunter fires off an arrow, it strikes " + game_users[vote].username + " killing them!<br>"
			socket.emit('remove_player', { 'username': game_users[vote].username, 'channel': window.location.pathname.substr(1) });
			console.log("sleeping")
			await sleep(10000)
		});

		socket.on('cupids_turn', function () {
			turn("Cupid", "Cupids arrow is on its way")
		});

		socket.on('seers_turn', function () {
			turn("Seer", "Seer is peering")
		});


		socket.on('doctors_turn', function () {
			turn("Doctor", "Doctor may be performing a miracle")

		});


		socket.on('werewolves_turn', function () {
			turn("Werewolf", "Werewolves are choosing their next meal")

		});

		socket.on('outcome_turn', function () {
			outcome()
		});


		$('#start_button').on('click', start_game);

		async function start_game() {
			cupid_votes = [] // only needs to be reset on new game not new round
			socket.emit('game_start', { 'users': users, 'channel': window.location.pathname.substr(1) });
			await sleep(10000)
			socket.emit('turn', { 'channel': window.location.pathname.substr(1), 'turn': 'show_werewolves' });
			await sleep(10000)
			socket.emit('turn', { 'channel': window.location.pathname.substr(1), 'turn': 'cupid' });
			await progress("cupid", 15)
			night()
		};

		function turn(role, body){
			document.getElementById("game_div_title").innerHTML = role;
			document.getElementById("game_div").style.display = "";
			if (roles[username] == role && check_username(game_users, username)) {
				document.getElementById("game_div_body").innerHTML = ""
				draw_table(role.toLowerCase())

			} else {
				document.getElementById("game_div_body").innerHTML = body
				document.getElementById("vote_table").innerHTML = ""// removing voting table for all users not seer, this is to stop voting after being timed out
			}

		}

		function check_username(obj, name) {
			for (var i = 0; i < obj.length; i++)
				if (obj[i].username == name) {
					return true
				}
			return false
		}

		function most_voted(votes) {
			counts = {}
			for (var i = 0; i < votes.length; i++) {
				if (votes[i] in counts) {
					counts[votes[i]] += 1
				} else {
					counts[votes[i]] = 1
				}
			}
			var keys = Object.keys(counts);
			var largest = Math.max.apply(null, keys.map(x => counts[x]));
			var result = keys.reduce((result, key) => { if (counts[key] === largest) { result.push(key); } return result; }, []);
			return result
		}


		function draw_table(state) {
			elements = []
			document.getElementById('vote_table').innerHTML = "";
			var show_votes = "";
			if (state == "werewolf") {
				show_votes += "<br>"
				for (var num of werewolves) {
					show_votes += "\u26AA"
				}
			}
			for (var j = 0; j < game_users.length; j++) {

				if (j % 2 == 0) {
					row = document.createElement("tr");
					row.setAttribute('id', 'row' + (j / 2).toString())
					document.getElementById('vote_table').appendChild(row);
				}
				b = document.createElement("td");
				b.setAttribute("class", "guess")
				b.innerHTML = '<br>' + game_users[j].username + show_votes;
				b.innerHTML += "<input type='hidden' value='" + j + "'>";
				b.addEventListener("click", async function (e) {
					// insert the value from the autocomplete text field:
					value = this.getElementsByTagName("input")[0].value;

					if (state == "day") {
						socket.emit('vote', { 'vote': game_users[value].username, 'channel': window.location.pathname.substr(1), "state": "group" });
						document.getElementById('vote_table').innerHTML = "";

					} else if (state == "cupid") {
						socket.emit('vote', { 'vote': game_users[value].username, 'channel': window.location.pathname.substr(1), "state": state });
						elements[value].style.backgroundColor = '#f542dd';
						if (cupid_votes.length == 1) {// want to to close when length is 2, so close when this is 1, then the second vote is added
							document.getElementById('vote_table').innerHTML = "";
						}

					} else if (state == "seer") {
						document.getElementById("game_div_title").innerHTML = game_users[value].username
						document.getElementById("game_div_body").innerHTML = '<div class="card" style="width: 18rem;"><img src="static/images/' + roles[game_users[value].username] + '.png" class="card-img-top" alt="werewolf"><div class="card-body"><h5 class="card-title">' + roles[game_users[value].username] + '</h5></div></div>'
						document.getElementById('vote_table').innerHTML = "";
						await sleep(5000)
						seer_done = true;

					} else if (state == "doctor") {
						socket.emit('vote', { 'vote': value, 'channel': window.location.pathname.substr(1), "state": state });
						document.getElementById('vote_table').innerHTML = "";
					}
					else if (state == "hunter") {
						if (roles[game_users[value]] != "Hunter") {
							socket.emit('vote', { 'vote': value, 'channel': window.location.pathname.substr(1), "state": state });
							document.getElementById('vote_table').innerHTML = "";
						}

					} else if (state == "werewolf") {
						socket.emit('vote', { 'vote': value, 'channel': window.location.pathname.substr(1), "state": state, 'username': username });
						// document.getElementById('vote_table').innerHTML = "";
					}

				});
				elements.push(b)
				document.getElementById('row' + Math.floor(j / 2).toString()).appendChild(b);

			}
		}

		var test = false;
		async function night() {
			if (!test) {
				test = true;
				werewolf_overall_choice = null;
				document.getElementById('vote_table').innerHTML = "";
				socket.emit('turn', { 'channel': window.location.pathname.substr(1), 'turn': 'werewolf' });
				console.log(werewolf_overall_choice)
				console.log(username + " running night function")
				await progress("werewolf", 60)
				if (werewolf_overall_choice) {
					document.getElementById('vote_table').innerHTML = "";
					socket.emit('turn', { 'channel': window.location.pathname.substr(1), 'turn': 'seer' });
					await progress("seer", 5)

					document.getElementById('vote_table').innerHTML = "";
					socket.emit('turn', { 'channel': window.location.pathname.substr(1), 'turn': 'doctor' });
					await progress("doctor", 5)

					socket.emit('turn', { 'channel': window.location.pathname.substr(1), 'turn': 'outcome' });
				} else {
					console.log("Game over from werewolves not voting")
					game_over()

				}
				test = false;

			}
		}

		function sleep(ms) {
			return new Promise(resolve => setTimeout(resolve, ms));
		}
		async function progress(state, time_out) {
			var flag = null;
			var i = 0
			while (i < time_out && !flag) {
				if (state == 'werewolf') {
					flag = werewolf_overall_choice;
				} else if (state == "seer") {
					flag = seer_done;
				} else if (state == "doctor") {
					flag = doctor_choice;
				} else if (state == "cupid") {
					flag = (cupid_votes.length == 2)
				}


				await sleep(1000)
				i++
			}
		}


		function reset() {
			werewolf_overall_choice = null;
			doctor_choice = null;
			seer_done = false;
			votes = [];
			were_choice = [];
		}
		async function outcome() {
			document.getElementById("game_div_title").innerHTML = "Day break!"
			if (werewolf_overall_choice != doctor_choice) {
				document.getElementById("game_div_body").innerHTML = game_users[werewolf_overall_choice].username + " was brutally mauled to death last night"
				socket.emit('remove_player', { 'username': game_users[werewolf_overall_choice].username, 'channel': window.location.pathname.substr(1) });
			}
			else {
				document.getElementById("game_div_body").innerHTML = game_users[werewolf_overall_choice].username + " was attacked last night, but the doctor managed to save them"
			}

			await sleep(5000)
			if (werewolves.length > 0 && (2 * werewolves.length < game_users.length)) {
				socket.emit('turn', { 'channel': window.location.pathname.substr(1), 'turn': 'day' });
			} else {
				console.log("Game over from a night win")
				game_over()
			}


		}

		function remove_user(obj, _username) {
			console.log(obj)
			for (var i = 0; i < obj.length; i++) {
				if (obj[i].username == _username) {
					obj.splice(i, 1);
				}
				if (obj[i] == _username) {
					obj.splice(i, 1);
				}
			}
			console.log("Remove user: " + _username)
			console.log(werewolves);
		}

		function game_over() {
			console.log(game_users)
			document.getElementById("game_div_title").innerHTML = "Game Over!"
			if (werewolves.length < 1) {
				document.getElementById("game_div_body").innerHTML = "Congrats, all werewolves eliminated<br>";
			} else {
				document.getElementById("game_div_body").innerHTML = "The werewolves have taken over<br>";
			}
			// document.getElementById("game_div_body").innerHTML = "";
			b = document.createElement("button");
			b.setAttribute("id", "start_button")
			b.setAttribute("class", "'btn btn-secondary'")
			b.onclick = function () {
				start_game()
			}
			b.innerHTML = 'Start';
			document.getElementById("game_div_body").appendChild(b)
		}


		// change all votes criteria and wolf and group vote
		// fix hunter timing, what happens if hunter doesnt vote for anyone
		// investigate bug on second round where were_overall isnt working with game_users

		// start game should get new roles for each player
	});




</script>


<div class="card" id="online_div">
	<h2 class="card-title">Online</h2>
	<div class="card-body">
		<ul id="online"></ul>
		<button class="btn btn-secondary" id="start_button">Start</button>
	</div>
</div>

<div class="card" id="game_div" style="display: none;">
	<div class="card-header" id="game_div_title"></div>

	<div class="card-body" id="game_div_body">
	</div>
	<table id="vote_table" class="table"></table>
</div>


<div class="counter" id='counter' style="display: none;">
	<div class="nums">
		<span class="in">3</span>
		<span>2</span>
		<span>1</span>
		<span>0</span>
	</div>
	<h4>Get Ready</h4>
</div>


<div class="timer-group" id="timer" style="display: none;">
	<div class="timer hour">
		<div class="hand"><span></span></div>
		<div class="hand"><span></span></div>
	</div>
	<div class="timer minute">
		<div class="hand"><span></span></div>
		<div class="hand"><span></span></div>
	</div>
	<div class="timer second">
		<div class="hand"><span></span></div>
		<div class="hand"><span></span></div>
	</div>
	<div class="face">
		<h1>Werewolf</h1>
	</div>
</div>




{% endblock content %}