<!DOCTYPE html>
<html>
    <!-- templating structure modified from https://www.youtube.com/watch?v=QnDWIZuWYW0&list=PL-osiE80TeTs4UjLw5MM6OjgkjFeUxCYH&index=2 -->
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <!-- Meta tag makes it responsive as bootstrap is mobile first, width - sets it to the device size -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Werewolf</title>
    <!-- Need to get bootstrap -->
    <!-- Bootstrap for css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
    <!-- Bootstrap for JQuery, Javascript and Popper.js -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    <!-- For ajax -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- Plain CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
       <!-- Jquery Cookies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>


    <link rel="preload" as="image" href="../static/images/heart.png">
    <link rel="preload" as="image" href="../static/images/werewolf.png">
    <link rel="preload" as="image" href="../static/images/seer.png">
    <link rel="preload" as="image" href="../static/images/doctor.png">
    <link rel="preload" as="image" href="../static/images/villager.png">
    <link rel="preload" as="image" href="../static/images/cupid.png">
    <link rel="preload" as="image" href="../static/images/hunter.png">
    <link rel="preload" as="image" href="../static/images/lynched.png">
    

</head>
<body>
    
<!-- html content -->
{% block content %}{% endblock %}
</body>

</html>