{% extends "layout.html" %} {% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
	integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ url_for('static', filename='background.js') }}"></script>
<script src="{{ url_for('static', filename='were.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='background.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='were.css') }}">
<title>Werewolf</title>


<div id='background'>
	<div id="starsContainer">
		<div id="stars">
		</div>
	</div>
	<div id="sun">
	</div>
	<div id="sunDay">
	</div>
	<div id="sunSet">
	</div>
	<div id="sky">
	</div>
	<div class="star" style="left: 250px; top: 30px;"></div>
	<div class="star" style="left: 300px; top: 25px;"></div>
	<div class="star" style="right: 40px; top: 40px;"></div>
	<div class="star" style="right: 80px; top: 45px;"></div>
	<div class="star" style="right: 120px; top: 20px;"></div>

	<div id="horizon"></div>

	<div id="horizonNight"></div>

	<div id="moon"></div>

	<div id="mountainRange">
		<div id="mountain">
		</div>

	</div>

	<div id="division">

	</div>

	<div id="water"></div>

	<div id="waterReflectionContainer">
		<div id="waterReflectionMiddle">

		</div>
	</div>
	<div id="waterDistance"></div>
	<div id="darknessOverlaySky"></div>
	<div id="darknessOverlay"></div>
	<div id="oceanRippleContainer">
	</div>
	<div id="oceanRipple"></div>

</div>


<div id="game">
	<div class="card" id="game_div" style="z-index: 10000;">
		<div class="card-header" id="game_div_title"></div>

		<div class="card-body" id="game_div_body">
		</div>
		<table id="vote_table" class="table"></table>
		<div id="progressbar" style="display: none;">
			<div id="innerBar"></div>
		</div>
		<div id="death" style="display: none;">
			<span>You have been killed, remember to stay quiet</span>
		</div>

		<div id="results_div" style="display: none;">
			<table id="results_table" class="table"></table>
			<div id="user_role">Click on a name</div>
		</div>

		<div class="card-header" id="username"></div>

	</div>


	<div class="counter" id='counter' style="display: none;">
		<div class="nums">
			<span class="in">3</span>
			<span>2</span>
			<span>1</span>
			<span>0</span>
		</div>
		<h4>Get Ready</h4>
	</div>



</div>


<div class="card" id="online_div" style="z-index: 10000;">
	<h2 class="card-title">Online</h2>
	<div class="card-body">
		<small class="text-muted">
			<p>Due to free hosting, there may be issues with users joining. If this happens join a new room. <br>Do not
				refresh page once game has started</p>
		</small>
		<ul class="list-group" id="online"></ul>
		<button class="btn btn-secondary" id="start_button">Start</button><br>
		<small class="text-muted">
			<span>Send this code to friends:</span>
			<a class="ml-2" style="color: rgb(8,76,85)" id="copyLink"><span id="game_url"></span></a><br>
			<a class="ml-2" style="color: rgb(8,76,85)" id="userLink" href="/werewolf">Change Username</a>
		</small>
	</div>
</div>




{% endblock content %}